
.worldStats-box {
    
    height : 100%;
    width: 250px;
    float : left; 
    margin-right: 20px;
    
}

 .totalNumbers {
    font-size: 2.7rem;
    color: white;
    font-weight: 700 !important;
    font-family: 'Nunito';
    width: 100%;
    text-align: center;
    margin-top: 25%;

}

 .about {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 5%;
    font-family: 'Nunito';
}

@media only screen and (max-width: 600px){

    .worldStats-box {
        height : 100%;
        width: 200px;
        float : left;
        margin-right: 50px;
    }


}